<%= link_to "Log out", logout_path %>
<button id="start-game-link">Start a new game!!!</button>
<button id="game-fullscreen">Go Fullscreen!</button>
<div id='gameDiv'></div>
<h1>My stats</h1>
<div id="stats">
<h2 id="high-score">High score: <%= @high_score %></h2>
  <ul>
    <% count = @game_reports.count %>
      <% @game_reports.reverse.each do |game_report| %>
        <li>
          <h2>Game <%= count %></h2>
            <% game_report.level_reports.each_with_index do |level_report, index| %>
              <ul>
                <li>Points: <%= level_report.points %></li>
              </ul>
            <% end %>
          <% count -= 1 %>
        <% end %>
      </li>
    </ul>
  <% if  @game_reports.count == 0 %>
    <h2>Start a game!</h2>
  <% end %>
</div>
