<li>
  <h2>Game <%= current_user.game_reports.count %></h2>
  <% @game_report.level_reports.each_with_index do |level_report, index| %>
    <ul>
      <li>Points: <%= level_report.points %></li>
    </ul>
  <% end %>
</li>
