body {
  background-color: transparent;
}

.html {
  font-family: 'Playball', cursive;
}

a {
  color: #009290;
}

.btn-primary {
  background-color: #009290;
}

.btn-primary {
  a:hover{
      color:white;
      text-decoration:none;
  }
}

.headline {
  font-family: 'Playball', cursive;
  font-size: 220px;
}

.subheadline {
  font-family: 'Poiret One', cursive;
  margin-top: -80px;
  letter-spacing: 2.5px;
}

.subhead {
  font-family: 'Poiret One', cursive;
  letter-spacing: 2.5px;
}

.massive {
  font-size: 100px;
}

.xx-large {
  font-size: 56px;
}

.x-large {
  font-size: 45px;
}

.large {
  font-size: 34px
}

.medium {
  font-size: 20px
}

.small {
  font-size: 16px;
}

.x-small {
  font-size: 12px
}

.white {
  color: #fff;
}

.ruby {
  color: #8B0405;
}

.sapphire {
  color: #009290;
}

.emerald {
  color: #00A661;
}

.amythist {
  color: #602D90 !important;
}
