.login-content {
  top: 15%;
  position: absolute;
  margin: 0 auto;
}


.login {
  margin: 0 auto;
  text-align: center
  input {
    padding: 4px;
    margin: 5px;
  }
}

.login-box {
  width: 350px;
}

.login input[type="text"], .login input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.login input[type="submit"] {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  border-radius: 5px;
}

.login button {
  margin: 5px;
}*/
/*
#create_account {
  display: none;
}*/

.error {
  text-align: center;
  color: red;
}
.flash {
  color: red;
}

.screen {
  position: relative;
  height: 100%;
  width: 100%;
}
